@using InventoryFinal.DTO
@model List<VentaConDetallesDTO>

<h2>Ventas</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Total</th>
            <th>Usuario</th>
            <th>Cliente</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compra in Model)
        {
            <tr>
                <td>@compra.FechaVenta.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@compra.Total €</td>
                <td>@compra.NombreUsuario</td>
                <td>@(string.IsNullOrEmpty(compra.NombreCliente) ? "Sin cliente" : compra.NombreCliente)</td>
                <td>
                    <a asp-action="Detalles" asp-route-id="@compra.Id" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Editar" asp-route-id="@compra.Id" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Crear" class="btn btn-success mb-3">Nueva Venta</a>
