@model InventoryFinal.Models.Usuario

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles del Usuario</h2>

<dl class="row">
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Nombre)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Nombre)
    </dd>
    <dt class = "col-sm-3">
        Teléfono
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Telefono)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Rol)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Rol)
    </dd>
    <dt class = "col-sm-3">
        Contraseña
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Contrasenya)
    </dd>
    <dt class = "col-sm-3">
        Fecha Creación
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.FechaCreacion)
    </dd>
</dl>


<a asp-action="Editar" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm">Editar</a>
<a asp-action="Index" class="btn btn-outline-secondary btn-sm">Volver a Lista</a>