@model InventoryFinal.Models.Proveedor

@{
    ViewData["Title"] = "Eliminar";
}

<h2 class="mb-4 text-danger">¿Está seguro que quiere eliminar este Proveedor?</h2>

<dl class="row">
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Nombre)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Nombre)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Contacto)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Contacto)
    </dd>
    <dt class = "col-sm-3">
        Teléfono
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Telefono)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Email)
    </dd>
</dl>
    
<form asp-action="Eliminar">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
</form>
